# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
env/
venv/

# logs
logs
api_logs

# Tempotary directory
tmp

.idea

# Data
src/apps/chatbot/data
src/apps/chatbot/data/*
src/apps/chatbot/data/hdsd_Sapo.pdf
src/apps/chatbot/data/vector_store.pkl
src/apps/chatbot/data/vector_store_demo.pkl